#af-form-704959842 {
	font-size: 0.5rem;
	color: #000;
}

.af-header {
	padding-bottom: 15px;
}

change class of af-form to have max width.

#modal-constraint {
	bmax-width: 100px;
}

.modal-body {
	color: #000;
}

change font sizes of label and alignment of .btn-primary.

div label {
	   font-size: 100%;
}
label.col-form-label {
	   font-size: 200%;
}

@media (min-width: 578px) {
label.col-form-label {
	   font-size: 200%;
	   padding-left: 30px;
}