/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.modal-body a {
  color: #0762ff;
}
.modal-body a:focus, {
  color: #0762ff;
}
.modal-body a:hover {
              color: #0762ff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  background-color: #000;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: #fff;
}

.modal-body {
    background-color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .1);
    color: #000;
}


p {
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

#mainNav  {
  background-color: rgb(0,0,0,0.8);
  text-align: right;
  opacity: 100%;
    overflow: hidden;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99; 
}    

/* Style the navbar links */
#mainNav a {
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#mainNav #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#mainNav a:hover {
  
}

/* Style the active/current link */
#mainNav a.active {
  
}

/* Display some links to the right */
#mainNav-right {
  text-align: right;
}

/* video header */

.page-top video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.page-top .cover-container {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.page-top .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .page-top {
    background: url(https://source.unsplash.com/XT5OInaElMw/1600x900) black no-repeat center center scroll;
  }
  .page-top video {
    display: none;
  }
}

/* page top */

#page-top {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  widths: 100vw;
    position: relative;
  text-align: center;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.page-top {
  bbackground-image: url(../images/banner.jpg);
  bbackground-bsize: cover;
  bbackground-repeat: no-repeat;
  heights: 100vh;
  widths: 100vw;
    position: relative;
  text-align: center;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
} 

/* about */

#music {
  background-color: #000;
  padding: 100px 0px;
}

#merch {
  background-color: #333233;
  padding: 100px 0px;
}

#contact {
  background-color: #000;
  padding: 30px 0px;
}

.flex-column { 
       max-width : 260px;
   } 

img {
            padding: 20px;
        }            

.video {
  margin: 40px;
}

.painpoint {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.vision {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.avatar {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

	.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        .painpoint {
        	font-size: 1.5rem;
        }
         .vision {
        	font-size: 1.5rem;
        }
         .avatar {
        	font-size: 1rem;
        }
      }
      
       @media (min-width: 1024px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
        .painpoint {
        	font-size: 2rem;
        }
         .vision {
        	font-size: 2rem;
        }
         .avatar {
        	font-size: 1.5rem;
        }
      }

.cover-container {
  max-width: 55em;
}


/*
 * Header
 */
.logo {
  width: 350px;
  padding-top: 10px;
  padding-bottom: 20px;
}

      @media (min-width: 768px) {
        .logo {
        width: 500px;
        padding-top: 10px;
        padding-bottom: 20px;
        }
      }
      
      @media (min-width: 1024px) {
        .logo {
        width: 650px;
        padding-top: 10px;
        padding-bottom: 20px;
        }
      }

.image {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}   

      @media (min-width: 768px) {
              .image {
                width: 300px;
                padding-top: 10px;
                padding-bottom: 10px;
        }
      } 

#social-link {
  width: 30px;
  padding-left: 20px;
}


.masthead {
  margin-bottom: 0rem;
  font-size: 10px;
}

      @media (min-width: 768px) {
        .masthead {
          margin-bottom: 0rem;
          font-size: 16px;
        }
      } 

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 0rem;
}
.cover .btn-lg {
  padding: .75rem 2.75rem;
  font-weight: 700;
}

/*
 * Contact Form
 */

#InputEmail {
    width: 100%;
}

      @media (min-width: 768px) {
        #InputEmail {
          width:100%;
        }
      } 

            @media (min-width: 1024px) {
        #InputEmail {
          width:100%;
        }
      } 

#InputName {
    width: 100%;
    margin-bottom: 10px;
}

      @media (min-width: 768px) {
        #InputName {
          width:100%;
          margin-bottom: 10px;
        }
      } 

            @media (min-width: 1024px) {
        #InputName {
          width:100%;
          margin-bottom: 10px;
        }
      } 

#InputMessage {
    width:100%;
}

      @media (min-width: 768px) {
        #InputMessage {
          width:100%;
        }
      } 

            @media (min-width: 1024px) {
        #InputName {
          width:100%;
        }
      } 

.btn-form {
  float: none;
  color: #000;
  background-color: #fff;
  border-color: #007bff;
}

      @media (min-width: 768px) {
        .btn-form {
            float: left;
            color: #000;
            background-color: #fff;
            border-color: #007bff;
        }
      } 

.btn-form:hover {
  float: left;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-form:focus, .btn-primary.focus {
  float: left;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.form-check {
  margin-bottom: 0;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
}

small {
  font-size: 60%;
}

small.form-check-label {
  font-size: 50%;
  line-height: 0px;
  font-weight: 300;
}

.form-check-input {
  line-height: 0px;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -1.25rem;
}

/*
 * Footer
 */
.mastfoot {
  background-color: #000;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 10px
}

.landingfoot {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 10px
}
