
.imageanim {
  max-width: 100%;
  height: auto;
  opacity: 0.3;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleanim {
  transition: .5s ease;
  opacity: 1;
  display: inline;
  text-align: center;
}

.container:hover .imageanim {
  opacity: 1;
}

.container:hover .middleanim {
  opacity: 0;
}

.textanim {
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 0px 0px;
}

new walkthrough css

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}